@charset "UTF-8";
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 460px) {
  html {
    font-size: 61.33333px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 96px;
  }
}

body, html, ul, li, dd, dt, dl, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.aa::after, #footer .footer::after, .introdution2:after, .gr-box::after, .pat-jz::after, .content-qmxy .bgbox .jiaf::after, .content-qmxy .bgbox .yif::after, .rm-my:after, .content-rm::after, .content-rule:after, .login-rule:after {
  display: block;
  content: '';
  clear: both;
}

body {
  background: #eeeeee;
  font-family: "微软雅黑";
}

/*顶部*/
.top {
  width: 100%;
  height: 1.17rem;
  background: #1B1A1F;
  padding-left: 0.2rem;
  box-sizing: border-box;
  position: relative;
}

.top img {
  width: 0.22rem;
  height: 0.36rem;
  margin-bottom: 0.15rem;
}

.top span {
  font-size: 0.4rem;
  color: #eeeeee;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  bottom: 0.3rem;
  left: 0.5rem;
}

.top #title {
  font-size: 0.45rem;
  position: absolute;
  left: 40%;
}

.top #title2 {
  font-size: 0.45rem;
  position: absolute;
  left: 35%;
}

/*头部*/
.head {
  width: 100%;
  height: 0.79rem;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  /*项目列表页*/
  /*项目页*/
  /*企业中心页*/
}

.head .chouti {
  width: 0.57rem;
  height: 0.45rem;
  position: absolute;
  left: 0.23rem;
  top: 0.2rem;
}

.head .jian {
  width: 0.22rem;
  height: 0.35rem;
  position: absolute;
  left: 0.23rem;
  top: 0.2rem;
}

.head .bianji {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  right: 0.15rem;
  top: 0.2rem;
}

.head .zixun {
  font-size: 0.37rem;
  color: #666666;
  text-align: center;
  line-height: 0.8rem;
  letter-spacing: 0.05rem;
}

.head .shezhi {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  right: 0.15rem;
  top: 0.2rem;
}

.search {
  width: 86.93%;
  height: 0.6rem;
  background: #DEDEDE;
  border-radius: 0.2rem;
  margin: 0.1rem auto;
}

.search .search2 {
  font-size: 0.24rem;
  display: block;
  padding-left: 0.3rem;
  outline: none;
  border: 0;
  margin: 0 auto;
  line-height: 0.6rem;
  background: url("../images/资讯/搜索.png") no-repeat;
  background-size: 10% auto;
  background-position: 0.01rem 0.15rem;
}

/*轮播*/
.box {
  width: 100%;
  height: 3rem;
}

.box img {
  width: 100%;
  height: 3rem;
}

.box .swiper-container .swiper-pagination-bullet {
  width: 0.25rem;
  height: 0.08rem;
  display: inline-block;
  border-radius: 0.1rem;
  background: #fff;
  opacity: 1;
}

.box .swiper-container .swiper-pagination-bullet-active {
  width: 0.25rem;
  height: 0.08rem;
  display: inline-block;
  border-radius: 0.1rem;
  background: #07A09E;
}

.box .swiper-pagination {
  position: absolute;
  top: -0.55rem;
}

/*内容*/
.aa {
  width: 100%;
  height: auto;
  padding-bottom: 1.2rem;
}

.contain {
  width: 100%;
  height: 2.17rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.2rem 0 0.2rem;
  box-sizing: border-box;
}

.contain img {
  width: 39.718%;
  height: 1.7rem;
  float: left;
}

.contain .right {
  width: 57.04%;
  height: 100%;
  float: right;
  position: relative;
}

.contain .right .title {
  position: absolute;
  font-size: 0.32rem;
  color: #07A09E;
  font-weight: 600;
  top: 0.08rem;
}

.contain .right .tj {
  width: 1.11rem;
  height: 0.3rem;
  display: block;
  float: right;
  margin-top: 0.15rem;
}

.contain .right .neirong {
  font-size: 0.3rem;
  color: #666666;
  font-weight: 400;
  margin-top: 0.54rem;
}

.contain .right .data {
  font-size: 0.2rem;
  color: #999;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*底部*/
#footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #EEEEEE;
}

#footer .footer {
  width: 100%;
  height: 0.99rem;
  border-top: 1px solid #ccc;
}

#footer .footer li {
  width: 25%;
  height: 0.99rem;
  padding: 0.15rem 0;
  box-sizing: border-box;
  float: left;
  text-align: center;
  font-size: 0.2rem;
}

#footer .footer li img {
  width: 0.45rem;
  height: 0.45rem;
}

#footer .footer li span {
  display: block;
  color: #666;
  font-family: "微软雅黑";
}

#footer .footer li span.active {
  color: #55B1B0;
}

/*侧滑页*/
.cover {
  display: none;
}

.cover .bg {
  width: 3.5rem;
  height: 100vh;
  z-index: 99;
  top: 0;
  position: absolute;
  left: 0;
}

.cover #cover-jz {
  width: 3.8rem;
}

.cover .chouti {
  width: 0.5rem;
  height: 0.36rem;
  position: absolute;
  left: 2.5rem;
  top: 0.2rem;
  z-index: 99;
}

.cover .zx-logo {
  width: 0.85rem;
  height: 0.88rem;
  position: absolute;
  top: 1.35rem;
  left: 1.15rem;
  z-index: 99;
}

.cover .list {
  width: 2.18rem;
  height: 6.24rem;
  position: absolute;
  left: 0.42rem;
  top: 4.25rem;
  z-index: 99;
}

.cover .list a {
  position: relative;
  display: block;
  width: 2.28rem;
  height: 0.82rem;
  margin-top: 0.7rem;
  box-sizing: border-box;
}

.cover .list a .hat {
  width: 0.36rem;
  height: 0.3rem;
  margin-bottom: 0.4rem;
  margin-left: 0.15rem;
}

.cover .list a .select {
  font-size: 0.27rem;
  font-weight: 400;
  color: #EEEEEE;
  position: absolute;
  left: 0.8rem;
  top: 0.25rem;
}

.cover .list a .fenge {
  width: 2.2rem;
  height: 0.04rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}

.active {
  border: 1px solid #eee;
  border-radius: 0.1rem;
}

#first {
  margin-top: 0;
}

/*项目列表页*/
/*内容*/
.content {
  /*width: 100%;*/
  height: 1.07rem;
  border: 1px solid #CCCCCC;
  padding: 0.18rem 0.22rem;
  box-sizing: border-box;
}

.content .box {
  width: 100%;
  height: 100%;
  /*background: red;*/
}

.content .box .left {
  float: left;
  position: relative;
}

.content .box .left .logo {
  width: 0.17rem;
  height: 0.74rem;
  display: block;
}

.content .box .left .title {
  width: 40%;
  font-size: 0.3rem;
  color: #333333;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0.4rem;
}

.content .box .left .data {
  font-size: 0.2rem;
  color: #666666;
  height: 0.15rem;
  position: relative;
  bottom: 0.3rem;
  left: 0.4rem;
}

.content .box .right {
  float: right;
  position: relative;
}

.content .box .right .niu {
  width: 0.28rem;
  height: 0.28rem;
  position: absolute;
  display: inline-block;
  float: right;
}

.content .box .right .fb {
  float: right;
  font-size: 0.22rem;
  color: #666666;
  margin-right: 0.15rem;
}

.content .box .right .see {
  width: 1.22rem;
  height: 0.4rem;
  float: right;
  margin-right: -0.75rem;
  margin-top: 0.4rem;
}

/*图片库*/
.content2 {
  width: 100%;
  padding: 0.15rem;
  box-sizing: border-box;
}

.content2 .pic-box {
  width: 31.94%;
  height: 2.3rem;
  background: #ccc;
  float: left;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  position: relative;
}

.content2 .pic-box .pic {
  width: 100%;
  height: 100%;
}

.content2 .pic-box .wrap {
  position: absolute;
  bottom: -0.15rem;
  left: 1.5rem;
  z-index: 2;
}

.content2 .pic-box2 {
  margin-right: 0;
}

/*选框样式*/
.chk_1, .chk_2, .chk_3, .chk_4 {
  display: none;
}

.chk_1 + label {
  background-color: transparent;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 0.1rem;
  border: 2px solid #07A09E;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -0.15rem 0.1rem -0.12rem rgba(0, 0, 0, 0.05);
  padding: 0.09rem;
  display: inline-block;
  position: relative;
}

.chk_1 + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.chk_1:checked + label {
  background-color: #07A09E;
  border: 2px solid #07A09E;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -0.15rem 0.1rem -0.12rem rgba(0, 0, 0, 0.05), inset 0.15rem 0.1rem -0.12rem rgba(255, 255, 255, 0.1);
  color: #243441;
}

.chk_1:checked + label:after {
  content: '\2714';
  position: absolute;
  top: -0.749%;
  left: 0px;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
  padding: 1px 0 0 0;
  vertical-align: text-top;
}

/*底部*/
.bot {
  width: 100%;
  height: auto;
  border-top: 1px solid #CCCCCC;
  padding-top: 0.2rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.bot img {
  width: 45.6%;
  height: 0.82rem;
}

.bot .quxiao {
  margin-left: 0.15rem;
}

/*设置页*/
.head2 {
  border-bottom: 0.1rem solid #D2D2D2;
}

#line {
  margin-top: 0.6rem;
}

/*修改密码*/
.pass {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  position: relative;
  /*个人中心*/
}

.pass img {
  width: 0.37rem;
  height: 0.43rem;
  display: block;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
}

.pass img.grxx {
  width: 0.34rem;
  height: 0.24rem;
}

.pass img.tjrxx {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.25rem;
}

.pass span {
  font-size: 0.31rem;
  color: #333;
  position: absolute;
  top: 0.35rem;
  left: 0.8rem;
  font-weight: 400;
}

.pass span.grxx {
  position: absolute;
  top: 0.2rem;
  left: 0.7rem;
}

.pass .tjr2 {
  width: 2.2rem;
  height: 0.56rem;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.24rem;
  color: #999999;
}

.pass .tjr2 span.tjr {
  display: block;
  font-size: 0.24rem;
  color: #999999;
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
}

.pass .tjr2 a {
  font-size: 0.24rem;
  color: #999999;
  position: absolute;
  top: 0.2rem;
  right: 0.35rem;
}

/*输入密码*/
.shuru {
  width: 3.64rem;
  height: 1rem;
  /*background: red;*/
  margin: 0 auto;
  margin-top: 0.4rem;
  text-align: center;
  position: relative;
}

.shuru span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.27rem;
  color: #333333;
  font-weight: 400;
}

.shuru input {
  width: 3.64rem;
  height: 0.6rem;
  color: #07A09E;
  font-size: 0.5rem;
  text-align: center;
  border: 1px solid #07A09E;
  border-radius: 0.1rem;
  background-color: transparent;
  outline: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background: #D2D2D2;
  margin-top: 0.6rem;
}

.sub {
  margin-top: 2.66rem;
}

.sub img {
  width: 3.42rem;
  height: 0.8rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.25rem;
}

/*启动页*/
.banner {
  width: 100%;
  height: 100vh;
  background: #fff;
}

.banner .banner1 {
  width: 5.82rem;
  height: 5.8rem;
  margin: 0 auto;
  margin-top: 1.95rem;
  margin-left: 1.1rem;
}

.banner .break {
  width: 0.72rem;
  height: 0.14rem;
  margin: 0 auto;
  margin-top: 1.88rem;
  margin-left: 3.54rem;
}

.banner .break2 {
  width: 0.72rem;
  height: 0.14rem;
  margin: 0 auto;
  margin-top: 1.88rem;
  margin-left: 3.35rem;
}

.banner .banner2 {
  width: 5.48rem;
  height: 5.52rem;
  margin: 0 auto;
  margin-top: 1.95rem;
  margin-left: 0.85rem;
}

.banner .tiyan {
  width: 2.6rem;
  height: 0.8rem;
  margin: 0.56rem auto;
  display: block;
}

/*企业注册*/
.content-zc2 {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-zc2 .anniu {
  position: absolute;
  top: 24.43%;
  left: 10.93%;
}

.content-zc2 .anniu img {
  display: inline-block;
  width: 40.13%;
  height: 0.92rem;
}

.content-zc2 .shuru2 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 35.03%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc2 .shuru2 img {
  display: block;
}

.content-zc2 .shuru2 .company {
  width: 0.29rem;
  height: 0.25rem;
}

.content-zc2 .shuru2 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc2 .shuru3 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 43.82%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc2 .shuru3 img {
  display: block;
}

.content-zc2 .shuru3 .phone {
  width: 0.18rem;
  height: 0.28rem;
}

.content-zc2 .shuru3 .shu {
  position: absolute;
  right: 27.2%;
  top: 0.18rem;
  height: 0.5rem;
  width: 0.02rem;
}

.content-zc2 .shuru3 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc2 .shuru3 .huoqu {
  font-size: 0.24rem;
  color: #07A09E;
  position: absolute;
  right: 2%;
  top: 0.24rem;
}

.content-zc2 .shuru4 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 52.62%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc2 .shuru4 img {
  display: block;
}

.content-zc2 .shuru4 .ma {
  width: 0.24rem;
  height: 0.28rem;
}

.content-zc2 .shuru4 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc2 .shuru5 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 61.57%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc2 .shuru5 img {
  display: block;
}

.content-zc2 .shuru5 .mima {
  width: 0.2rem;
  height: 0.22rem;
}

.content-zc2 .shuru5 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc2 .read input.read {
  width: 0.38rem;
  height: 0.38rem;
  border: 1px solid #EEEEEE;
  border-radius: 0.1rem;
  position: absolute;
  top: 70.16%;
  left: 1.69rem;
}

.content-zc2 .read .yue {
  font-size: 0.27rem;
  color: #F8F8F6;
  position: absolute;
  top: 70.84%;
  left: 2.22rem;
}

.content-zc2 .read .yue a {
  color: #F8F8F6;
  text-decoration: underline;
}

.content-zc2 .zhuce {
  width: 77.86%;
  height: 0.9rem;
  border: 1px solid #F8F8F6;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #F8F8F6;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10.86%;
  left: 0.84rem;
}

/*个人注册*/
.content-grzc {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-grzc .anniu {
  position: absolute;
  top: 24.43%;
  left: 10.93%;
}

.content-grzc .anniu img {
  display: inline-block;
  width: 40.13%;
  height: 0.92rem;
}

.content-grzc .shuru2 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 35.03%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-grzc .shuru2 img {
  display: block;
}

.content-grzc .shuru2 .company {
  width: 0.29rem;
  height: 0.25rem;
}

.content-grzc .shuru2 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-grzc .shuru3 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 43.82%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-grzc .shuru3 img {
  display: block;
}

.content-grzc .shuru3 .phone {
  width: 0.18rem;
  height: 0.28rem;
}

.content-grzc .shuru3 .shu {
  position: absolute;
  right: 27.2%;
  top: 0.18rem;
  height: 0.5rem;
  width: 0.02rem;
}

.content-grzc .shuru3 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-grzc .shuru3 .huoqu {
  font-size: 0.24rem;
  color: #07A09E;
  position: absolute;
  right: 2%;
  top: 0.24rem;
}

.content-grzc .shuru4 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 52.62%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-grzc .shuru4 img {
  display: block;
}

.content-grzc .shuru4 .ma {
  width: 0.24rem;
  height: 0.28rem;
}

.content-grzc .shuru4 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-grzc .shuru5 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 61.57%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-grzc .shuru5 img {
  display: block;
}

.content-grzc .shuru5 .mima {
  width: 0.2rem;
  height: 0.22rem;
}

.content-grzc .shuru5 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-grzc .read input.read {
  width: 0.38rem;
  height: 0.38rem;
  border: 1px solid #EEEEEE;
  border-radius: 0.1rem;
  position: absolute;
  top: 70.16%;
  left: 1.69rem;
}

.content-grzc .read .yue {
  font-size: 0.27rem;
  color: #F8F8F6;
  position: absolute;
  top: 70.84%;
  left: 2.22rem;
}

.content-grzc .read .yue a {
  color: #F8F8F6;
  text-decoration: underline;
}

.content-grzc .zhuce {
  width: 77.86%;
  height: 0.9rem;
  border: 1px solid #F8F8F6;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #F8F8F6;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10.86%;
  left: 0.84rem;
}

/*企业中心页*/
.bg-box {
  position: relative;
  height: 2.16rem;
}

.bg-box .qiyezhongxin-bg {
  width: 100%;
  height: 2.16rem;
}

.bg-box .bg-logo {
  width: 1.63rem;
  height: 1.63rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.33rem;
  left: 39.46%;
}

.bg-box .bg-logo img.tx {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.line {
  width: 100%;
  height: 0.1rem;
  background: #D2D2D2;
  margin-top: 0;
}

/*企业信息部分*/
.companyname-qy {
  width: 88%;
  height: 0.5rem;
  margin-top: 0.25rem;
  margin-left: 0.7rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #D1D1D1;
}

.companyname-qy .name-logo {
  display: block;
  float: left;
  width: 0.27rem;
  height: 0.23rem;
}

.companyname-qy .dh-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.12rem;
}

.companyname-qy span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
}

.companyname-qy .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

.companyname-qy span.name {
  color: #333;
  margin-left: 0.2rem;
}

.companyname-qy span.num {
  color: #07A09E;
}

.introdution {
  width: 6.6rem;
  height: 2.2rem;
  border-bottom: 1px solid #D1D1D1;
  margin-left: 0.7rem;
}

.introdution .name-logo {
  display: block;
  float: left;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: 0.32rem;
}

.introdution span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.25rem;
}

.introdution .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.32rem;
}

.introdution .jieshao {
  width: 4.8rem;
  height: 2.2rem;
  float: right;
}

.introdution .jieshao p {
  font-size: 0.27rem;
  color: #333;
  margin-top: 0.25rem;
  line-height: 0.5rem;
}

.qy-line {
  width: 100%;
  height: 0.1rem;
  background: #D2D2D2;
  margin-top: 0.1rem;
}

.pass2 {
  width: 100%;
  height: 0.7rem;
  overflow: hidden;
  position: relative;
}

.pass2 #pic-xm {
  width: 0.33rem;
  height: 0.3rem;
  display: block;
  margin-top: 0.25rem;
  margin-left: 0.2rem;
}

.pass2 span.zi-xmlb {
  font-size: 0.31rem;
  color: #333;
  position: absolute;
  top: 0.2rem;
  left: 0.68rem;
  font-weight: 400;
}

.pass2 #jt {
  width: 0.17rem;
  height: 0.32rem;
  position: absolute;
  top: 0.25rem;
  right: 0.22rem;
}

/*图片部分*/
.xm-pic {
  width: 100%;
  height: 1.75rem;
  padding: 0.15rem 0 0 0.2rem;
  box-sizing: border-box;
}

.xm-pic .img {
  width: 20.82%;
  height: 1.52rem;
  background: #ccc;
  border-radius: 0.1rem;
  margin-right: 0.15rem;
  float: left;
}

.xm-pic .img img.pic {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}

/*保存键*/
.save {
  width: 3.24rem;
  height: 0.54rem;
  background: #07A09E;
  color: #EEEEEE;
  font-size: 0.32rem;
  text-align: center;
  line-height: 0.54rem;
  border-radius: 0.1rem;
  margin: 0 auto;
  margin-top: 0.65rem;
}

/*企业中心展示页*/
.bg-box2 {
  position: relative;
  height: 2.95rem;
}

.bg-box2 .qiyezhongxinzhanshi-bg {
  width: 100%;
  height: 2.95rem;
}

.bg-box2 .bg-logo {
  width: 1.63rem;
  height: 1.63rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: 39.46%;
}

.bg-box2 .bg-logo img.tx {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bg-box2 .gsxx {
  position: absolute;
  margin: 0 auto;
  bottom: 0.55rem;
  left: 38%;
  width: auto;
  height: 0.3rem;
  line-height: 0.3rem;
  overflow: hidden;
  text-align: center;
}

.bg-box2 .gsxx .gsmc {
  width: 0.27rem;
  height: 0.23rem;
  display: block;
  float: left;
  margin-top: 0.05rem;
}

.bg-box2 .gsxx span {
  font-size: 0.3rem;
  color: #EEEEEE;
  float: left;
  margin-left: 0.12rem;
}

/*简介*/
.introdution2 {
  width: 88%;
  border-bottom: 1px solid #D1D1D1;
  margin-left: 0.2rem;
}

.introdution2 .name-logo {
  display: block;
  float: left;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: 0.42rem;
}

.introdution2 span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.35rem;
}

.introdution2 .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.35rem;
  margin-top: 0.42rem;
}

.introdution2 .jieshao {
  width: 65.33%;
  float: right;
}

.introdution2 .jieshao p {
  font-size: 0.27rem;
  color: #333;
  margin-top: 0.35rem;
  line-height: 0.5rem;
}

/*相册*/
.xm-pic2 {
  width: 100%;
  height: 1.7rem;
  padding: 0.1rem 0.2rem;
  box-sizing: border-box;
}

.xm-pic2 .img2 {
  width: 1.52rem;
  height: 1.52rem;
  border-radius: 0.1rem;
  margin-right: 0.15rem;
  float: left;
}

.xm-pic2 .img2 .xc {
  width: 0.66rem;
  height: 0.52rem;
  float: left;
  margin-top: 0.64rem;
}

.xm-pic2 .img2 span {
  font-size: 0.27rem;
  color: #666666;
  margin-left: 0.28rem;
}

.xm-pic2 .img {
  width: 1.52rem;
  height: 1.52rem;
  background: #ccc;
  border-radius: 0.1rem;
  margin-right: 0.15rem;
  float: left;
}

.xm-pic2 .img img.pic {
  width: 100%;
  height: 100%;
}

.xm-pic2 .next {
  width: 0.25rem;
  height: 0.41rem;
  margin-left: 0.1rem;
}

/*项目部分*/
.pass3 {
  /*width: 100%;*/
  height: 0.9rem;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-left: 0.2rem;
}

.pass3 #pic-xm {
  width: 0.33rem;
  height: 0.3rem;
  display: block;
  margin-top: 0.25rem;
}

.pass3 span.zi-xmlb {
  font-size: 0.31rem;
  color: #333;
  position: absolute;
  top: 0.2rem;
  left: 0.48rem;
  font-weight: 400;
}

.zs-content {
  margin-left: 0.2rem;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0.18rem 0;
}

.zs-content .box .right .see {
  width: 1.2rem;
  height: 0.38rem;
  float: right;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
}

/*完成*/
/*合伙人个人*/
.search {
  width: 86.93%;
  height: 0.6rem;
  background: #DEDEDE;
  border-radius: 0.2rem;
  margin: 0.1rem auto;
}

.search .search2-pantner {
  font-size: 0.24rem;
  display: block;
  padding-left: 0.35rem;
  outline: none;
  border: 0;
  margin: 0 auto;
  line-height: 0.6rem;
  background: url("../images/资讯/搜索.png") no-repeat;
  background-size: 10% auto;
  background-position: 0.05rem 0.15rem;
  margin-left: 2.36rem;
}

/*标题部分*/
.pat-title {
  width: 100%;
  height: 0.85rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.15rem;
  box-sizing: border-box;
}

.pat-title .qiye-pat {
  width: 32.7%;
  height: 0.5rem;
  border: 1px solid #07A09E;
  font-size: 0.27rem;
  color: #07A09E;
  text-align: center;
  line-height: 0.5rem;
  display: block;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
  float: left;
}

.pat-title .geren-pat {
  border-right: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pat-title .pat-active {
  background: #07A09E;
  color: #eee;
}

.pat-title .jizhi-pat {
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pat-num {
  width: 100%;
  height: 0.56rem;
  overflow: hidden;
}

.pat-num .pat-line {
  width: 1.42rem;
  height: 1px;
  background: #999999;
  margin-left: 1.16rem;
  margin-top: 0.3rem;
  float: left;
}

.pat-num span {
  font-size: 0.24rem;
  color: #999;
  display: block;
  float: left;
  margin-top: 0.15rem;
  margin-left: 0.1rem;
}

.pat-num a.num {
  color: #07A09E;
  font-size: 0.24rem;
  display: block;
  float: left;
  margin-top: 0.15rem;
  margin-left: 0.25rem;
}

.pat-num .right {
  float: left;
  margin-left: 0.2rem;
}

/*内容部分*/
.gr-box {
  padding: 0 0.4rem 1.2rem 0.4rem;
}

.gr-box .picxx {
  width: 22.985%;
  height: 1.94rem;
  text-align: center;
  float: left;
  margin-right: 0.2rem;
  margin-top: 0.25rem;
}

.gr-box .picxx .img {
  width: 1.54rem;
  height: 1.54rem;
  border-radius: 0.1rem;
  background: #DEDEDE;
}

.gr-box .picxx .img img.pic {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}

.gr-box .picxx span {
  font-size: 0.24rem;
  color: #666666;
  display: block;
  margin-top: 0.1rem;
}

.gr-box div.picxx:nth-child(4n) {
  margin-right: -0.2rem;
}

/*合伙人机制页*/
.pat-jz .hhrjz {
  width: 0.41rem;
  height: 0.3rem;
  display: block;
  float: left;
  margin-top: 0.4rem;
  margin-left: 2.4rem;
}

.pat-jz span.jz {
  font-size: 0.36rem;
  color: #07A09E;
  float: left;
  margin-top: 0.3rem;
  margin-left: 0.12rem;
}

.window {
  width: 6.45rem;
  height: 7.63rem;
  border-bottom: 1px solid #07A09E;
  margin: 0.4rem auto;
  overflow: hidden;
}

.content-jz {
  font-size: 0.27rem;
  color: #666666;
  text-indent: 0.5rem;
  line-height: 0.45rem;
}

.gdt1 {
  width: 0.04rem;
  height: 4.47rem;
  position: fixed;
  right: 0.28rem;
  top: 3.68rem;
}

.gdt2 {
  width: 0.14rem;
  height: 0.3rem;
  position: fixed;
  right: 0.24rem;
  top: 4.08rem;
}

/*合伙人机制侧滑页*/
.hide {
  display: none;
}

.hide .bg {
  width: 3.5rem;
  height: 100vh;
  z-index: 99;
  top: 0;
  position: absolute;
  left: 0;
}

.hide #cover-jz {
  width: 3.8rem;
}

.hide .chouti {
  width: 0.5rem;
  height: 0.36rem;
  position: absolute;
  left: 2.7rem;
  top: 0.2rem;
  z-index: 99;
}

.hide .zx-logo {
  width: 0.85rem;
  height: 0.88rem;
  position: absolute;
  top: 1.35rem;
  left: 1.3rem;
  z-index: 99;
}

.list2 {
  width: 3rem;
  height: 6.91rem;
  position: absolute;
  left: 0.2rem;
  top: 4.25rem;
  z-index: 99;
}

.list2 a {
  position: relative;
  display: block;
  height: 0.82rem;
  margin-top: 0.7rem;
  box-sizing: border-box;
}

.list2 a .hat {
  width: 0.31rem;
  height: 0.22rem;
  margin-bottom: 0.5rem;
  margin-left: 0.07rem;
}

.list2 a .select {
  font-size: 0.27rem;
  font-weight: 400;
  color: #EEEEEE;
  position: absolute;
  left: 0.4rem;
  top: 0.25rem;
  letter-spacing: 1px;
}

.list2 a .fenge {
  width: 2.8rem;
  height: 0.04rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}

/*企业合伙人侧滑页*/
.cover2 {
  display: none;
}

.cover2 .bg {
  width: 3.8rem;
  height: 100vh;
  z-index: 99;
  top: 0;
  position: absolute;
  left: 0;
}

.cover2 .chouti {
  width: 0.5rem;
  height: 0.36rem;
  position: absolute;
  left: 2.5rem;
  top: 0.2rem;
  z-index: 99;
}

.cover2 .zx-logo {
  width: 0.85rem;
  height: 0.88rem;
  position: absolute;
  top: 1.35rem;
  left: 1.15rem;
  z-index: 99;
}

.cover2 .list {
  width: 2.18rem;
  height: 6.24rem;
  position: absolute;
  left: 0.42rem;
  top: 4.25rem;
  z-index: 99;
}

.cover2 .list a {
  position: relative;
  display: block;
  width: 2.18rem;
  height: 0.82rem;
  margin-top: 0.7rem;
  box-sizing: border-box;
}

.cover2 .list a .hat {
  width: 0.31rem;
  height: 0.31rem;
  margin-bottom: 0.45rem;
  margin-left: 0.15rem;
}

.cover2 .list a .sg {
  width: 0.34rem;
  height: 0.25rem;
}

.cover2 .list a .select {
  font-size: 0.27rem;
  font-weight: 400;
  color: #EEEEEE;
  position: absolute;
  left: 0.6rem;
  top: 0.25rem;
}

.cover2 .list a .fenge {
  width: 2.2rem;
  height: 0.04rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}

/*个人中心展示页*/
.bg-box3 {
  position: relative;
  height: 2.95rem;
}

.bg-box3 .qiyezhongxinzhanshi-bg {
  width: 100%;
  height: 2.95rem;
}

.bg-box3 .bg-logo {
  width: 1.63rem;
  height: 1.63rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: 39.46%;
}

.bg-box3 .bg-logo img.tx {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bg-box3 .gsxx {
  position: absolute;
  margin: 0 auto;
  bottom: 0.55rem;
  left: 39.46%;
  width: auto;
  line-height: 0.3rem;
  overflow: hidden;
  text-align: center;
}

.bg-box3 .gsxx .gsmc {
  width: 0.29rem;
  height: 0.31rem;
  display: block;
  float: left;
  margin-top: 0.05rem;
}

.bg-box3 .gsxx span {
  font-size: 0.3rem;
  color: #EEEEEE;
  float: left;
  margin-left: 0.12rem;
  margin-top: 0.1rem;
  letter-spacing: 1px;
}

/*个人信息部分*/
.companyname {
  width: 88%;
  height: 0.64rem;
  margin-top: 0.25rem;
  margin-left: 0.2rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #D1D1D1;
}

.companyname .name-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.1rem;
}

.companyname .dh-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.12rem;
}

.companyname span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
}

.companyname .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.42rem;
  margin-top: 0.1rem;
}

.companyname .line2 {
  margin-left: 0.15rem;
}

.companyname span.name {
  color: #333;
  margin-left: 0.35rem;
}

.companyname span.num {
  color: #07A09E;
}

.companyname-zx {
  width: 88%;
  height: 0.64rem;
  margin-top: 0.25rem;
  margin-left: 0.2rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #D1D1D1;
}

.companyname-zx .name-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.1rem;
}

.companyname-zx .dh-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.12rem;
}

.companyname-zx span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
}

.companyname-zx .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}

.companyname-zx span.name {
  color: #333;
  margin-left: 0.35rem;
}

.companyname-zx span.num {
  color: #07A09E;
}

.com {
  border: 0;
}

.lx {
  border-bottom: none;
}

/*个人中心*/
/*个人信息部分*/
.companyname2 {
  width: 88%;
  height: 0.69rem;
  margin-top: 0.25rem;
  margin-left: 0.48rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #D1D1D1;
}

.companyname2 .name-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.1rem;
}

.companyname2 .dh-logo {
  display: block;
  float: left;
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.12rem;
}

.companyname2 span {
  font-size: 0.27rem;
  color: #666666;
  float: left;
  margin-left: 0.1rem;
}

.companyname2 .line {
  width: 0.02rem;
  height: 0.25rem;
  background: #D1D1D1;
  float: left;
  margin-left: 0.42rem;
  margin-top: 0.1rem;
}

.companyname2 .line2 {
  margin-left: 0.15rem;
}

.companyname2 span.name {
  color: #333;
  margin-left: 0.35rem;
}

.companyname2 span.num {
  color: #07A09E;
}

.com {
  border: 0;
}

.com2 {
  margin-top: 0;
}

/*图片部分*/
.bag {
  width: 100%;
  height: auto;
  margin-bottom: 1.3rem;
}

.xm-pic3 {
  width: 100%;
  height: auto;
  padding: 0.23rem 0 0 0.2rem;
  box-sizing: border-box;
  display: inline-block;
}

.xm-pic3 .img {
  width: 30.41%;
  height: 1.5rem;
  background: #ccc;
  margin-right: 0.15rem;
  float: left;
}

.xm-pic3 .img img.pic {
  width: 100%;
  height: 100%;
}

.xm-pic3 img.img {
  background: transparent;
}

/*保存键*/
.save2 {
  width: 3.24rem;
  height: 0.54rem;
  background: #07A09E;
  color: #EEEEEE;
  font-size: 0.32rem;
  text-align: center;
  line-height: 0.54rem;
  border-radius: 0.1rem;
  margin: 0 auto;
  margin-top: 0.26rem;
}

/*登录页面*/
.content-dl {
  width: 100%;
  height: 100vh;
  background: url("../images/login/log.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-dl .shuru2 {
  width: 77.86%;
  height: 0.88rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 48.95%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-dl .shuru2 img {
  display: block;
}

.content-dl .shuru2 .company {
  width: 0.24rem;
  height: 0.36rem;
}

.content-dl .shuru2 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-dl .shuru3 {
  width: 77.86%;
  height: 0.88rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 58.89%;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-dl .shuru3 img {
  display: block;
}

.content-dl .shuru3 .company {
  width: 0.28rem;
  height: 0.32rem;
}

.content-dl .shuru3 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-dl .zhuce {
  width: 77.86%;
  height: 0.9rem;
  border: 1px solid #F8F8F6;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #F8F8F6;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  top: 70.21%;
  left: 0.84rem;
  letter-spacing: 5px;
}

.content-dl .forget {
  font-size: 0.25rem;
  color: #E8F2F0;
  text-decoration: underline;
  letter-spacing: 1px;
  position: absolute;
  top: 80.95%;
  left: 42.46%;
}

/*忘记密码页*/
.denglu {
  width: 77.86%;
  height: 0.9rem;
  border: 1px solid #F8F8F6;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #F8F8F6;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  bottom: 13.74%;
  left: 0.84rem;
  letter-spacing: 5px;
}

.content-zc {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-zc .anniu {
  position: absolute;
  top: 3.26rem;
  left: 0.82rem;
}

.content-zc .anniu img {
  display: inline-block;
  width: 2.86rem;
  height: 0.92rem;
}

.content-zc .shuru2 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 4.54rem;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc .shuru2 img {
  display: block;
}

.content-zc .shuru2 .company {
  width: 0.18rem;
  height: 0.28rem;
}

.content-zc .shuru2 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc .shuru3 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 5.58rem;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc .shuru3 img {
  display: block;
}

.content-zc .shuru3 .phone {
  width: 0.24rem;
  height: 0.28rem;
}

.content-zc .shuru3 .shu {
  position: absolute;
  right: 27.2%;
  top: 0.18rem;
  height: 0.5rem;
  width: 0.02rem;
}

.content-zc .shuru3 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc .shuru3 .huoqu {
  font-size: 0.24rem;
  color: #07A09E;
  position: absolute;
  right: 2%;
  top: 0.25rem;
}

.content-zc .shuru4 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 6.62rem;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc .shuru4 img {
  display: block;
}

.content-zc .shuru4 .ma {
  width: 0.2rem;
  height: 0.22rem;
}

.content-zc .shuru4 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc .shuru5 {
  width: 77.86%;
  height: 0.83rem;
  background: #F8F8F6;
  border-radius: 0.1rem;
  position: absolute;
  top: 7.68rem;
  left: 0.86rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
}

.content-zc .shuru5 img {
  display: block;
}

.content-zc .shuru5 .mima {
  width: 0.2rem;
  height: 0.22rem;
}

.content-zc .shuru5 input {
  position: absolute;
  left: 0.9rem;
  top: 0.28rem;
  border: 0;
  font-size: 0.28rem;
  color: #999999;
  background: transparent;
  outline: none;
}

.content-zc .read input.read {
  width: 0.38rem;
  height: 0.38rem;
  border: 1px solid #EEEEEE;
  border-radius: 0.1rem;
  position: absolute;
  top: 8.96rem;
  left: 1.69rem;
}

.content-zc .read .yue {
  font-size: 0.27rem;
  color: #F8F8F6;
  position: absolute;
  top: 9.05rem;
  left: 2.22rem;
}

.content-zc .read .yue a {
  color: #F8F8F6;
  text-decoration: underline;
}

.content-zc .zhuce {
  width: 5.85rem;
  height: 0.9rem;
  border: 1px solid #F8F8F6;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #F8F8F6;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  bottom: 1.45rem;
  left: 0.84rem;
}

/*编辑项目页*/
.style {
  width: 5.23rem;
  height: 1.178rem;
  margin: 0.45rem auto;
}

.style .top-xm {
  width: 100%;
  height: 50%;
  position: relative;
}

.style .top-xm .style-xm {
  font-size: 0.3rem;
  color: #07A09E;
  float: left;
  display: block;
}

.style .top-xm .line-xm {
  width: 3.88rem;
  height: 0.38rem;
  border-bottom: 1px solid #07A09E;
  float: left;
  margin-left: 0.1rem;
  text-align: center;
  font-size: 0.3rem;
  color: #333333;
}

.style .top-xm .xl {
  width: 0.23rem;
  height: 0.15rem;
  position: absolute;
  bottom: 0.35rem;
  right: 0.1rem;
}

.style .bottom-xm {
  width: 100%;
  height: 50%;
  position: relative;
  margin-top: 0.2rem;
}

.style .bottom-xm .style-xm {
  font-size: 0.3rem;
  color: #07A09E;
  float: left;
  display: block;
}

.style .bottom-xm .line-xm {
  width: 3.88rem;
  height: 0.38rem;
  border-bottom: 1px solid #07A09E;
  float: left;
  margin-left: 0.1rem;
  text-align: center;
  font-size: 0.3rem;
  color: #333333;
}

.style .bottom-xm .line-xm input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  z-index: 99;
  text-align: center;
  font-size: 0.3rem;
  color: #333;
}

.style .bottom-xm .xl {
  width: 0.23rem;
  height: 0.15rem;
  position: absolute;
  bottom: 0.35rem;
  right: 0.1rem;
}

/*项目描述*/
.describe-xm {
  font-size: 0.3rem;
  color: #07A09E;
  display: block;
  margin-left: 41.6%;
}

#box {
  width: 94.93%;
  margin-left: 0.2rem;
  border: 1px solid #07A09E;
  border-radius: 0.1rem;
  background: transparent;
  outline: none;
  padding: 0.2rem;
  box-sizing: border-box;
  margin-top: 0.2rem;
  font-size: 0.27rem;
}

textarea {
  resize: none;
}

.zishu {
  position: absolute;
  top: 7.02rem;
  right: 0.35rem;
}

.zishu .yi {
  color: #07A09E;
}

.zishu .limit {
  color: #C5C5C5;
}

.yi, .limit {
  font-size: 0.27rem;
  float: left;
}

/*弹出框部分*/
.warning {
  width: 82.06%;
  height: 3.59rem;
  background: url("../images/bianjixiangmu/jg/jg.png") no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: absolute;
  top: 2.99rem;
  left: 0.7rem;
  display: none;
}

.warning span {
  font-size: 0.26rem;
  color: #333333;
  text-align: center;
  position: absolute;
  top: 1.5rem;
  left: 28%;
}

.warning img {
  display: block;
  width: 19.2%;
  height: 15.47%;
  float: left;
  margin-top: 2.18rem;
}

.warning img.fq {
  margin-left: 28%;
}

.warning img.bc {
  margin-left: 0.26rem;
}

/*签名协议页面*/
.content-qmxy {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.content-qmxy .bgbox {
  width: 87.33%;
  height: 85.98%;
  background: #EEEEEE;
  border: 1px solid #07A09E;
  border-radius: 0.1rem;
  margin: 0.64rem auto;
}

.content-qmxy .bgbox .hhrxx {
  width: 50.66%;
  height: 0.79rem;
  margin: 0.34rem auto;
  display: block;
}

.content-qmxy .bgbox .x {
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  position: absolute;
  top: 7.37%;
  right: 9.06%;
}

.content-qmxy .bgbox .jiaf {
  width: auto;
  height: 0.25rem;
  padding-left: 0.58rem;
}

.content-qmxy .bgbox .jiaf span, .content-qmxy .bgbox .jiaf a {
  display: block;
  font-size: 0.23rem;
  color: #55B1B0;
  float: left;
}

.content-qmxy .bgbox .jiaf a {
  margin-left: 0.15rem;
}

.content-qmxy .bgbox .yif {
  width: auto;
  height: 0.25rem;
  padding-left: 0.58rem;
  margin-top: 0.2rem;
}

.content-qmxy .bgbox .yif span, .content-qmxy .bgbox .yif a {
  display: block;
  font-size: 0.23rem;
  color: #55B1B0;
  float: left;
}

.content-qmxy .bgbox .yif a {
  margin-left: 0.15rem;
}

.content-qmxy .bgbox .windows {
  width: 81.33%;
  height: 66.79%;
  border-bottom: 1px solid #07A09E;
  margin: 0.2rem auto;
  overflow: hidden;
}

.content-qmxy .bgbox .content-xy {
  font-size: 0.27rem;
  color: #666666;
  line-height: 0.45rem;
  letter-spacing: 0.02rem;
}

.content-qmxy .bgbox .gdt1 {
  width: 0.04rem;
  height: 4.47rem;
  position: fixed;
  right: 0.76rem;
  top: 3.68rem;
}

.content-qmxy .bgbox .gdt2 {
  width: 0.14rem;
  height: 0.3rem;
  position: fixed;
  right: 0.71rem;
  top: 4.08rem;
}

.content-qmxy .bgbox .read input.read {
  width: 0.38rem;
  height: 0.38rem;
  border: 1px solid #EEEEEE;
  border-radius: 0.1rem;
  position: absolute;
  bottom: 10.99%;
  left: 2.17rem;
}

.content-qmxy .bgbox .read .yue {
  font-size: 0.27rem;
  color: #07A09E;
  position: absolute;
  bottom: 11.19%;
  left: 2.75rem;
}

/*咨询内页*/
/*标题部分*/
.title-box {
  width: 100%;
  height: 1.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
  position: relative;
}

.title-box .title {
  font-size: 0.4rem;
  color: #333;
  display: block;
  text-align: center;
  margin-top: 0.1rem;
}

.title-box .date, .title-box .type {
  font-size: 0.2rem;
  color: #666;
  position: absolute;
  top: 0.8rem;
}

.title-box .date {
  right: 2rem;
}

.title-box .type {
  right: 0.5rem;
}

.content-ny {
  font-size: 0.27rem;
  color: #666666;
  line-height: 0.45rem;
  letter-spacing: 0.05rem;
  text-indent: 0.6rem;
  margin-top: 0.25rem;
  padding: 0 0.25rem;
}

/*编辑页的下拉菜单*/
.SelectList {
  position: relative;
  background-color: transparent;
  TOP: -2px;
  left: -2px;
  border-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  width: 160px;
  display: block;
  height: 18px;
  overflow: hidden;
}

.DivSelect {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

#mune {
  padding: 0 22%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 1.3rem;
  border-bottom: 1px solid #07A09E;
  outline: none;
  background: transparent;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../images/bianjixiangmu/xl.png") no-repeat scroll right center transparent;
  background-size: 0.25rem 0.15rem;
  padding-right: 14px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #333;
  font-size: 0.27rem;
  width: 74%;
}

#mune select::-ms-expand {
  display: none;
}

.head-stop {
  position: fixed;
  top: 0;
  left: 0;
  background: #eee;
}

.search-stop {
  position: fixed;
  top: 0.79rem;
  left: 7%;
}

.box-stop {
  position: fixed;
  top: 1.59rem;
  left: 0;
  background: #eee;
}

#containBox {
  @expand %clear;
  width: 100%;
  height: 8.5rem;
  margin-top: 60%;
  position: relative;
}

.cc {
  position: relative;
  width: 100%;
  @expand %clear;
  z-index: 99;
}

.return {
  width: 0.96rem;
  height: 0.96rem;
  position: fixed;
  bottom: 1rem;
  right: 0.1rem;
}

@media screen and (max-width: 320px) {
  #box {
    height: 2.8rem;
  }
}

/*邮箱注册*/
.email {
  width: 77.86667%;
  height: 0.82rem;
  border: 1px solid #07A09E;
  margin: 0 auto;
  margin-top: 1.07rem;
  border-radius: 8px;
  padding: 0 0.2rem;
  box-sizing: border-box;
}

.email .yj {
  width: 0.26rem;
  height: 0.22rem;
  display: block;
  float: left;
  margin-top: 0.3rem;
}

.email .email-mm {
  width: 80%;
  height: 50%;
  display: block;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.28rem;
  color: #999999;
}

.denglumm {
  width: 77.86667%;
  height: 0.88rem;
  border: 1px solid #07A09E;
  margin: 0.28rem auto;
  border-radius: 8px;
  padding: 0 0.2rem;
  box-sizing: border-box;
}

.denglumm .yj {
  width: 0.22rem;
  height: 0.25rem;
  display: block;
  float: left;
  margin-top: 0.3rem;
}

.denglumm .email-mm {
  width: 80%;
  height: 50%;
  display: block;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.28rem;
  color: #999999;
}

.email-read {
  text-align: center;
  margin-top: 0.8rem;
}

.email-read .read {
  display: none;
}

.email-read .read + label {
  background-color: transparent;
  width: 0.29rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  border: 2px solid #07A09E;
  padding: 0.09rem;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 18.667%;
}

.email-read .read:checked + label:after {
  content: '\2714';
  position: absolute;
  top: -27.749%;
  left: 0px;
  color: #07A09E;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
  vertical-align: text-top;
}

.email-read .yue {
  float: left;
  margin-left: 0.15rem;
  font-size: 0.3rem;
  color: #07A09E;
}

.email-read .yue a {
  color: #07A09E;
  text-decoration: underline;
}

.email-zhuce {
  width: 77.86%;
  height: 0.9rem;
  border: 1px solid #07A09E;
  border-radius: 0.5rem;
  font-size: 0.4rem;
  color: #07A09E;
  text-align: center;
  line-height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10.86%;
  left: 0.84rem;
}

/*人脉圈*/
.icon-tjr {
  width: 0.4rem;
  float: left;
  margin: 0.2rem;
}

.my-rm {
  font-size: 0.3rem;
  color: #333;
  float: left;
  margin-top: 0.2rem;
}

.renmai-box {
  width: 92%;
  height: 7.3rem;
  /*background: red;*/
  margin: 0.5rem auto;
  position: relative;
}

.renmai-box .first-rm {
  width: 2.05rem;
  height: 2.05rem;
  background: red;
  border-radius: 50%;
  border: 2px solid #07A09E;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.renmai-box .first-rm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.renmai-box .second-rm .small-rm {
  width: 3.75rem;
  height: 3.75rem;
  background: url("../images/renmai/yuan-small.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.renmai-box .second-rm .small-rm img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid #07A09E;
}

.renmai-box .second-rm .small-rm .tx0 {
  position: absolute;
  top: -13%;
  right: 38%;
}

.renmai-box .second-rm .small-rm .tx1 {
  position: absolute;
  top: 25%;
  right: -9%;
}

.renmai-box .second-rm .small-rm .tx2 {
  position: absolute;
  top: 25%;
  left: -9%;
}

.renmai-box .second-rm .small-rm .tx3 {
  position: absolute;
  top: 73%;
  left: 5%;
}

.renmai-box .second-rm .small-rm .tx4 {
  position: absolute;
  top: 73%;
  right: 5%;
}

.renmai-box .second-rm .big-rm {
  width: 6.43rem;
  height: 6.43rem;
  background: url("../images/renmai/yuan-small.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.renmai-box .second-rm .big-rm img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid #07A09E;
}

.renmai-box .second-rm .big-rm .tx1 {
  position: absolute;
  top: -7%;
  right: 43%;
}

.renmai-box .second-rm .big-rm .tx2 {
  position: absolute;
  top: 3%;
  right: 15%;
}

.renmai-box .second-rm .big-rm .tx3 {
  position: absolute;
  top: 25%;
  right: -3%;
}

.renmai-box .second-rm .big-rm .tx4 {
  position: absolute;
  top: 54%;
  right: -5%;
}

.renmai-box .second-rm .big-rm .tx5 {
  position: absolute;
  top: 80%;
  right: 12%;
}

.renmai-box .second-rm .big-rm .tx6 {
  position: absolute;
  bottom: -7%;
  right: 43%;
}

.renmai-box .second-rm .big-rm .tx7 {
  position: absolute;
  top: 80%;
  left: 12%;
}

.renmai-box .second-rm .big-rm .tx8 {
  position: absolute;
  top: 54%;
  left: -5%;
}

.renmai-box .second-rm .big-rm .tx9 {
  position: absolute;
  top: 25%;
  left: -3%;
}

.renmai-box .second-rm .big-rm .tx0 {
  position: absolute;
  top: 3%;
  left: 15%;
}

.count-rm {
  width: 37%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}

.count-rm span {
  font-size: 0.3rem;
}

.count-rm .gray-rm {
  color: #474747;
  display: block;
}

.count-rm .green-rm {
  color: #08A19F;
}

.share {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
}

.share img {
  width: 35%;
}

/*我的一度人脉页面*/
.rm-my {
  width: 97%;
  height: auto;
  margin-left: 3%;
  border-bottom: 1px solid #DFDFDF;
}

.rm-my .rs, .rm-my .wei {
  font-size: 0.24rem;
  float: right;
  margin-right: 0.2rem;
}

.rm-my .rs {
  color: #07A09E;
  margin-top: 0.35rem;
}

.rm-my .wei {
  color: #999;
}

.content-rm {
  width: 90%;
  margin: 0 auto;
}

.content-rm .picxx {
  width: 24%;
  height: 2.2rem;
  float: left;
  margin-right: 0.14rem;
  margin-top: 0.25rem;
}

.content-rm .picxx .img {
  width: 1.54rem;
  height: 1.54rem;
  border-radius: 0.1rem;
  background: #DEDEDE;
}

.content-rm .picxx .img img.pic {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}

.content-rm .picxx span {
  font-size: 0.24rem;
  color: #666666;
  display: block;
  margin-top: 0.1rem;
}

.content-rm div.picxx:nth-child(4n) {
  margin-right: -0.2rem;
}

/*规则页面*/
.bg-rule {
  width: 100%;
  height: 100vh;
  background: url("../images/rule/guize1210.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-rule .bonus {
  font-size: 0.36rem;
  color: #fff;
  position: absolute;
  top: 19%;
  left: 35%;
}

.content-rule {
  width: 82%;
  height: 57%;
  overflow: auto;
  position: absolute;
  top: 25%;
  left: 11%;
}

.content-rule .ty {
  width: 0.2rem;
  float: left;
  margin-top: 0.1rem;
}

.content-rule .gz1 {
  font-size: 0.3rem;
  color: #fff;
  float: left;
  margin-left: 0.15rem;
}

.content-rule .gz11 {
  font-size: 0.26rem;
  color: #fff;
  float: left;
  display: block;
  line-height: 0.4rem;
  letter-spacing: 0.02rem;
}

.dl-rule {
  width: 70%;
  position: absolute;
  bottom: 10%;
  left: 14%;
  line-height: 0.8rem;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
}

.login-rule {
  height: auto;
  position: absolute;
  bottom: 3%;
  left: 32%;
}

.login-rule .icon-rule {
  width: 0.27rem;
  float: left;
  margin-top: 0.05rem;
}

.login-rule span {
  font-size: 0.26rem;
  color: #fff;
  text-decoration: underline;
  float: left;
  margin-left: 0.1rem;
}